<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Restablecer contraseña</title>
</head>
<body>
  <p>Hola <%= name %>,</p>
  <p>Para restablecer tu contraseña, haz clic en:</p>
  <p><a href="<%= resetLink %>">Restablecer contraseña</a></p>
  <p>Si no solicitaste esto, ignora este correo.</p>
  <p>Saludos,<br>Equipo WiduFactory</p>
</body>
</html>
