<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Verifica tu cuenta</title>
</head>
<body>
  <p>Hola <%= name %>,</p>
  <p>Para verificar tu cuenta, haz clic en el siguiente enlace:</p>
  <p><a href="<%= verificationLink %>">Verificar cuenta</a></p>
  <p>Si no solicitaste esto, ignora este correo.</p>
  <p>Saludos,<br>Equipo WiduFactory</p>
</body>
</html>
