<!-- apps/admin-web/src/app/app.component.html -->
<div class="layout">
  <header class="layout__header">
      <button (click)="sp.toggle(); $event.stopPropagation()">☰</button>
    <h1>Título de la Aplicación</h1>
  </header>

  <div class="layout__body">
    <!-- Fijate que layout__body ahora es el padre contenedor -->
    <widu-side-panel
      position="left"
      width="18rem"
      offsetTop="0"
      offsetBottom="0"
      [menu]="sideMenu">
      <span panelHeader>Menú principal</span>
      <div panelFooter>© 2025 WiduIT</div>
    </widu-side-panel>

    <main class="layout__content">
      <p>Lorem ipsum…</p>
    </main>
  </div>

  <footer class="layout__footer">
    Este es el footer
  </footer>
</div>
